* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2ac9bf;
}

html {
    font-size: 62.5%;
}

body,
button {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}
.main-section {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 108px;
    height: 48px;
    background-color: #fff;
    border-color: transparent;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.box {
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__info--style {
    color: #0d1111;
    font-size: 10px;
    font-weight: 500;
}

.title.lv2 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    color: #0d1111;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
    color: #767e7e;
}

.sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.4em;
}
/* Header */

.header {
    position: sticky;
    z-index: 1;
    background: #fff;
    top: -44px;
    padding: 52px 0 8px;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav .nav-list {
    margin-left: 100px;
    display: flex;
}

.header__nav .nav-list a {
    display: inline-block;
    padding: 7px 19.5px;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header__nav .nav-list a:hover {
    text-shadow: 1px 0;
}

.header__cta-group .btn {
    border-radius: 6px;
}

.header__cta-group .cta-btn {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1ebfc1;
    border: 1px solid #1ebfc1;
}

/* Hero */

.hero-ele {
    padding: 50px 0 79px;
}

.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 45%;
}

.hero-subtitle {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero-title {
    margin-top: 18px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.26; /* 116.129% */
    color: #0d1111;
}

.hero-desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
    color: #9da6a5;
}

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-cta .btn {
    display: inline-block;
    min-width: 168px;
    height: 68px;
    line-height: 68px;
    border-radius: 14px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--primary-color);
}

.hero-cta .play-btn {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: transparent;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
}

.hero__info {
    position: relative;
    margin-left: 136px;
    /* width: 55%; */
}

.hero__info .hero-img {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: auto;
    background: #e0f7f6;
}

.hero-courses {
    position: absolute;
    top: 149px;
    left: -44px;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    padding: 17px 25px;
    border-radius: 18px;
    background: #fefefd;
}

.hero-courses .book {
    position: relative;
    width: 36px;
    height: 40px;
    border-radius: 3px;
    background-color: #ff8282;
}

.hero-courses .book::after {
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    content: "";
    display: inline-block;
    height: 4px;
    border-radius: 999px;
    background: #fff;
}

.hero-courses .courses {
    margin-left: 16px;
    width: 55px;
}

.hero-schedules {
    position: absolute;
    left: -62px;
    bottom: 46px;
    display: flex;
    align-items: center;
    gap: 12px 0;
    flex-direction: column;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
}

.hero-schedules .progress {
    width: 74px;
    height: 6px;
    border-radius: 3px;
    background-color: #edf1f5;
}

.hero-schedules .progress span {
    display: inline-block;
    margin-bottom: 10px;
    height: 100%;
    border-radius: 3px;
    background: #fb9899;
}

.hero-schedules .progress:first-of-type span {
    width: 52%;
}

.hero-schedules .progress:nth-of-type(2) span {
    width: 69%;
}

.hero-schedules .progress:nth-of-type(3) span {
    width: 43%;
}

.hero-schedules .progress:last-child {
    width: 26px;
}

.hero-students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding: 17px 35px;
    width: 207px;
    height: 90px;
}

.hero-students .student-list {
    display: flex;
    /* align-items: center;
    align-content: center; */
}

.hero-students .student-list img:nth-of-type(1) {
    background: #1ebfc1;
}

.hero-students .student-list img:nth-of-type(2) {
    background: #ffc147;
}

.hero-students .student-list img:nth-of-type(3) {
    background: #ff947a;
}

.hero-students .student-list img:nth-of-type(4) {
    background: #bf83ff;
}

.hero-students img,
.hero-students .anothers-student {
    display: inline-block;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 999px;
    object-fit: cover;
}

.hero-students .anothers-student {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 33px;
    color: #fff;
    background: var(--primary-color);
}

/* Features */

.feature-wrap {
    padding: 130px 0 40px;
}

.feature__title {
    padding: 18px 0;
    width: 577px;
}

.feature__desc {
    width: 50%;
}

.feature-list {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    gap: 0 200px;
}

.feature-item:nth-child(1) {
    width: 168px;
}

.feature-item:nth-child(2) {
    width: 222px;
}

.feature-item:nth-child(3) {
    width: 224px;
}

.feature-name {
    padding-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    color: #0d1111;
}

.feature-desc {
    padding-top: 16px;
    font-size: 1.6rem;
    line-height: 1.68; /* 168.75% */
    color: #9da6a5;
}

/* Courses */

.courses-ele {
    padding: 40px 0;
    margin: 50px 0;
}

.course-title {
    padding: 19px 0;
}

.ovrview-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ovrview-info .desc {
    width: 525px;
}

.ovrview-info .cta {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1ebfc1;
    text-decoration: underline;
}

.course-list {
    padding-top: 79px;
    display: flex;
    margin-left: -47px;
}

.course-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 31.3px);
    margin-left: 47px;
    border-radius: 8px;
}

.course-img {
    overflow: hidden;
    border-radius: 8px;
}

.course-item .img {
    width: 100%;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
    aspect-ratio: 84/100;
    object-fit: cover;
    transform: scale(1);
    /* transition: transform 0.5s ease-in-out 0.2s; */
}

.course-item .img:hover {
    /* border-radius: 8px; */
    /* transform: scale(1.3); */
    /* transition: transform 0.5s ease-in-out 0.2s; */
}

.course-info {
    position: absolute;
    bottom: -32%;
    width: 92%;
    padding: 18px 35px 29px 25px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    aspect-ratio: 5/3;
}

.course-name a {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.course-cost {
    padding-top: 16px;
    font-size: 1.6rem;
    color: #767e7e;
}

.course-cost .present-cost {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.course-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    color: #9da6a5;
}

.course-stats {
    margin: 18px 0 0 -10px;
}

.course-stats span:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-radius: 3px;
    background: #1ebfc1;
}

.course-stats span {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    font-size: 1.4rem;
    color: #9da6a5;
}

/* Countdown */

.countdown-ele {
    margin: 259px 0 134px;
    padding: 130px 0;
}

.countdown-wrap {
    display: flex;
    justify-content: space-around;
}

.countdown-course,
.countdown-trainer,
.countdown__student {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-ele .stats {
    font-size: 6.2rem;
    font-weight: 700;
    color: #0d1111;
}

.countdown-desc {
    text-align: center;
    margin-top: 11px;
    font-size: 1.8rem;
    color: #767e7e;
}

/* Testimonial */

.testimonial-ele {
    margin-bottom: 130px;
}

.testimonial-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.testimonial-wrap .feedback-content {
    width: 36%;
}

.testimonial-wrap blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.testimonial-wrap .student-name {
    margin-top: 33px;
    font-family: Poppins;
    font-size: 1.6rem;
    color: #767e7e;
}

.testimonial-wrap .student-name span {
    color: #070707;
    font-weight: 500;
}

.testimonial-wrap .btn-wrap {
    padding: 52px 0 37px;
}

.testimonial-wrap .btn {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
}

.testimonial-wrap .btn.next-student {
    margin-left: 30px;
    transform: rotate(180deg);
}

.testimonial-wrap .student-img {
    width: 64%;
    /* position: relative; */
    display: flex;
}
.testimonial-wrap .student-img img {
    position: absolute;
    width: 78px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-wrap .student-img img:first-child {
    right: 171px;
    align-self: center;
    width: 235px;
    background: #ff8282;
}

.testimonial-wrap .student-img img:nth-child(2) {
    top: 19px;
    right: 0;
    width: 110px;
    background: #bf83ff;
}

.testimonial-wrap .student-img img:nth-child(3) {
    top: 0;
    right: 443px;
    width: 92px;
    background: #1ebfc1;
}

.testimonial-wrap .student-img img:nth-child(4) {
    top: 258px;
    right: 601px;
    background: #ffc147;
}

.testimonial-wrap .student-img img:nth-child(5) {
    bottom: 0;
    right: 389px;
    background: #ff947a;
}

.testimonial-wrap .student-img img:nth-child(6) {
    bottom: 29px;
    right: 32px;
    background: #b1dfdc;
}

/* cta */

.cta-ele {
    padding: 76px 0 88px;
    background: #def6f5;
}

.cta-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-wrap .desc {
    padding-top: 18px;
}

.cta-wrap .cta-btn {
    min-width: 186px;
    height: 68px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    border-radius: 14px;
    background: #2ac9bf;
}
