* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2ac9bf;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.main-section {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 108px;
  height: 48px;
  background-color: #fff;
  border-color: transparent;
  text-align: center;
}

/* Header */

.header {
  position: sticky;
  top: -44px;
  padding: 52px 0;
}

.header--wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav .nav-list {
  display: flex;
}

.header__nav .nav-list a {
  display: inline-block;
  padding: 7px 19.5px;
  font-size: 1.6rem;
  color: #2f3a3b;
}

.header__nav .nav-list a:hover {
  text-shadow: 1px 0;
}

.header__cta-group .btn {
  border-radius: 6px;
}

.header__cta-group .cta-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #1ebfc1;
  border: 1px solid #1ebfc1;
}
